.product__card{
    overflow: hidden;
    border: 1px solid goldenrod;
    height: 500px;
    width: 430px;
    margin-left: 1%;
}

.img {
    height: 350px;
    width: 440px;
}
.img:hover {
    transform: scale(1.2);
}

.main__title{
    height: 4rem;
    color: white;
    margin-top: 10%;
    text-align: center;

}
.main__title h2 {
    font-weight: bold;
}

.main__button{
 color: white;
 background-color: white;   
}